@import '../../shared/static/utils.scss';

.body{
    flex: 1 1 auto;

    .text{
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: adaptive(1024, 18, 10);
        font-weight: 800;
        line-height: percent(18, 20);
    }
}