@tailwind base;
@tailwind components;
@tailwind utilities;
@import "vars";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:500);
@import url(https://fonts.googleapis.com/css?family=Wix+Madefor+Display:500,800);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Archivo:700);

// nulling style
*{
  padding:0;
  margin:0;
  border:0;
}
*,*:before,*:after{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block}

html,body{
  height:100%;
  width:100%;
  font-size:100%;
  line-height: auto;
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-weight: 400;
}
input,button,textarea{font-family:inherit;}

input:-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
a{color: inherit;}

h1,h2,h3,h4,h5,h6{font-size:inherit}
img{pointer-events: none;}


//global styles

body{
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
  color: #182024;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1200px;
  margin: 0 auto;
}

main{
  flex: 1 1 auto;
  min-height: 100vh;
}

._notClick{
  pointer-events: none;
}
.mySwiper{
  position: relative;
}

.slider-arrow{
  width: 40px;
  height: 40px;
  background-color: #182024;
  color: #ffffff;
}